<div class="wrapper">
    <div class="common-details">
        <div class="pic">
            <img src="assets/images/left.jpeg" alt="">
        </div>
        <div class="form-details">
            <div class="logo">
                <img src="assets/images/logo.jpeg" alt="">
            </div>
            <div class="form-section">
                <h3>Change Password</h3>
                <p>please enter your current password and enter new password for future login</p>
              
                <div class="form-row">
                    <label for="">Current Password</label>
                    <input type="password" class="text" placeholder="password">
                    <span class="icon">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="error_sms">invalid email</span>
                </div>
                <div class="form-row">
                    <label for="">Enter your new Password</label>
                    <input type="password" class="text" placeholder="password">
                    <span class="icon">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="error_sms">invalid email</span>
                </div>
                <div class="form-row">
                    <label for="">Confirm Password</label>
                    <input type="password" class="text" placeholder="password">
                    <span class="icon">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="error_sms">invalid email</span>
                </div>
 
                <div class="form-row">
                    <button class="login">Submit</button>
                </div>
  
            </div>
    
        </div>
    </div>
  </div>