<div class="wrapper">
    <div class="common-details">
        <div class="pic">
            <img src="assets/images/left.jpeg" alt="">
        </div>
        <div class="form-details">
            <div class="logo">
                <img src="assets/images/logo.jpeg" alt="">
            </div>
            <div class="form-section">
                <h3>log in</h3>
                <p>please enter your email and password to login</p>
                <div class="form-row">
                    <label for="">Enter Email</label>
                    <input type="text">
                    <label for="">invalid email</label>
                </div>
                <div class="form-row">
                    <label for="">Enter your PassWord</label>
                    <input type="text">
                    <label for="">invalid email</label>
                </div>
                <div class="form-row">
                    <div class="rememberme">
                        <input type="checkbox">
                        <label for="">Remember me?</label>
                    </div>
                    <div class="password">
                        <label for="">Forgot Password?</label>
                    </div>
                </div>

            </div>
    
        </div>
    </div>
</div>
