<div class="wrapper">
    <div class="common-details">
        <div class="pic">
            <img src="assets/images/left.jpeg" alt="">
        </div>
        <div class="form-details">
            <div class="logo">
                <img src="assets/images/logo.jpeg" alt="">
            </div>
            <div class="form-section">
                <h3>log in</h3>
                <p>please enter your email and password to login</p>
                <div class="form-row">
                    <label for="">Enter Email</label>
                    <input type="text" class="text text_input" placeholder="dummy@gmail.com">
                    <label for="">invalid email</label>
                </div>
                <div class="form-row">
                    <label for="">Enter your PassWord</label>
                    <input type="password" class="text" placeholder="password">
                    <span class="icon">

                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    <span class="error_sms">invalid email</span>
                </div>
                <div class="form-row">
                    <div class="rememberme">
                        <input type="checkbox">
                        <span class="rem">Remember me?</span>
                    </div>
                    <div class="password">
                        <span>Forgot Password?</span>
                    </div>
                </div>

                <div class="form-row">
                    <button class="login">Login</button>
                </div>

            </div>
    
        </div>
    </div>
</div>